# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.TheLastExam.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\UnityProjects\TheLastExam\.idea\.idea.TheLastExam\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
